body {
    font-family: Roboto, sans-serif;
}
.hero {
    background-color: #2E2F42;
font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
color:#FFFFFF;}
.our-team {
    background-color: #F4F4FD;}
.footer {
    background: #2E2F42;}
.title {
    font-family: Raleway, sans-serif;}
.webstudio {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
  }
.nav{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress{
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.button-index
{ font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color:#4D5AE5;

}
.button-portfolio 
{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4D5AE5;
    background-color:#E7E9FC;
}
  .feature-title
  {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color:#2E2F42;
  }
  .feature-text
  {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
  }